@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root, html, body{
   height: 100vh;
 }
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0; 
}


body {
  background-color: #fff;
  color: #333;
  margin: 0;
}

.root {
   display: flex;
   flex-direction: column;
}

header {
  background-color: #012541;
  padding: 1rem;
  display: flex;
  justify-content: space-between; 
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.movie {
  background-color: #009688; 
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 13px;
  font-weight: 900;
   
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #009688;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
  color: #161616;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);

}

.movie-over h2 {
  font-weight: bold;
}

.movie-over p {
  font-size: 13px;
}

.topnav {
  padding: 0.5rem 1.5rem;
}

.topnav a{
  color: #fff;
  margin: 0.5rem;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}


.search {
  background-color: transparent;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  color:  #f2f2f2;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  outline: none;
}

.tag {
  background-color: #161616;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}

.active {
  color: #161616 !important;
  background-color: white;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 2em;
  padding: 10px 34px;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 25px;
  background-color: #012541;
  border: 2px solid #012541;
  color: #f2f2f2;
  
}

button:hover {
  background-color: #009688;
  color: #161616;
  border: #009688;
} 

.prev-button {
  font-size: 20px;
  font-weight: 900;
}

.next-button {
  font-size: 20px;
  font-weight: 900;
}

.movie-page-container {
  display: flex !important;
  justify-content: center !important;
  padding-top: 60px !important;
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;

}

 .movie-info-container {
  display: flex;
  justify-content: center;
  width: 70%;
}

.image-container {
  margin-top: 20px;
}

.info-container {
  background-color: #000;
  padding: 20px;
  height: 575px;
  margin-top: 20px;
  opacity: 0.9;
}
.info-container h2 {
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: #01d277;
  margin: 1em 0em;
}

.info-container h3 {
  font-size: 20px;
  line-height: 25px;
  font-weight: bolder;
  color: #01d277;
  margin: 0.5em 0em;
}

.info-container h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 900;
  color: #01d277;
}

.info-container p {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.overview-text {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 2em
}

.page-number {
  font-size: 50px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.movie-properties {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 2em 0em;
}

.movie-properties-two {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 3em 0em;
}

.movie-genre p{
  line-height: 5px;
}